<section class="bg-general-islaonepiece" style="background: url(assets/img/fondo.jpg);">
    <div class="caja1">
        <form (submit)="ingresoUsuario()"
            class="justify-content-center text-center">
            <h2 class="mb-4 texto">¡Bienvenido!</h2>
            <div class="input mb-4">
                <input type="text" required="" autocomplete="off" [(ngModel)]="userFormLogin.usuario" [ngModelOptions]="{standalone:true}">
                <label for="name">USUARIO</label>
            </div>

            <div class="input mb-4">
                <input input [type]="changetype?'password':'text'" required="" autocomplete="off" [(ngModel)]="userFormLogin.password" [ngModelOptions]="{standalone:true}">
                <span class="eyeicon" (click)="verpass()"><i [ngClass]="visible? 'fa-solid fa-eye':'fa-solid fa-eye-slash'"></i></span>
                <label for="name">CONTRASEÑA</label>
            </div>

            <button type="submit" class="mb-3">
                <span class="button_top btn">ENVIAR</span>
            </button>
            <div class="mb-2 texto">
                <button type="button">¿Olvidaste tu contraseña?</button>
            </div>
        </form>
    </div>
</section>
