/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'onepiece';
    src: url(../assets/fonts/onepiece.ttf);
}

@font-face {
    font-family: 'twopiece';
    src: url(../assets/fonts/VenturisADFGothTitling.otf);
}

@font-face {
    font-family: 'navText';
    src: url(../assets/fonts/VenturisADFCd-Regular.otf);
}
