<nav class="navbar navbar-expand fondoNav fixed-top">
  <div class="container-fluid">
    <img style="width: 60px; height: 50px" src="assets/icons/onepiece.png">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item m-2">
          <a class="nav-link active inicio" routerLink="/">Inicio</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <ng-container *ngIf="!_registroService.estaLogin(); else seccionPerfil">
          <li class="nav-item">
            <button class="nav-link active registro" routerLink="/registro">Registro</button>
          </li>
        </ng-container>
      </ul>
      <ng-template #seccionPerfil>
        <li class="nav-item">
          <button class="nav-link active registro" routerLink="/ingreso-personaje">Personajes</button>
        </li>
        <li class="nav-item">
          <button class="nav-link active iniciar-sesion" routerLink="/admin/usuarios-registrados">Lista
            Usuarios</button>
        </li>
        <div class="dropdown">
          <li class="nav-item">
            <button class="nav-link active iniciar-sesion dropdown-toggle" type="button" data-bs-toggle="dropdown"
              routerLink="/perfil-usuario">Mi Perfil</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" style="background-color: aliceblue; font-family: 'navText'; font-size: 20px;"
                  href="#" (click)="cerrarSesion()">Cerrar Sesión</a></li>
            </ul>
          </li>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
