.bg-general-islaonepiece {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    padding: 150px 0;
}

.atras,
.siguiente {
    background-color: aliceblue;
    border: solid 1.5px #000000;
    border-radius: 25px;
    font-size: 17px;
    font-family: 'twopiece';
    cursor: pointer;
    padding: 8px;
    width: 10%;
}
