.bg-general-islaonepiece {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    padding: 100px 0;
    min-height: 100vh;
}

.card-body {
    border: 1px solid #000;
}

.videito{
    background-color: aliceblue;
    border-radius: 25px !important;
    border: #000 solid 1.5px;
    margin-left: 130px !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
}
