<section class="bg-general-islaonepiece" style="background: url(assets/img/fondo.jpg);">
    <div class="container text-center">
        <div class="container-fluid d-flex flex-wrap align-items-center">
            <div class="p-4" style="background-color: aliceblue; border-radius: 25px; border: 1.5px black solid;">
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/img/anya.jpg" class="card-img-top">
                        <div class="card-body"
                            style="background-color: rgb(228, 234, 238); font-family: twoPiece; font-size: 20px;">
                            <p class="card-text">Administrador</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="videito">
                <div class="col-8">
                    <video width="520" height="440" controls autoplay src="assets/mp4/nggup.mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>
