.bg-general-islaonepiece {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    padding: 30px 0;
    min-height: 100vh;
}

.container{
  margin-top: 4rem;
}

.carousel-inner img{
    border: 1.5px solid black;
    border-radius: 25px;
    height: auto !important;
}

.cajitaTexto {
    border: solid 1.5px black;
    border-radius: 25px;
    padding: 10px 10px;
    height: auto;
    background-color: aliceblue;
    opacity: 90%;
}

.cajitaTexto {
    font-family: 'twoPiece';
    text-align: center;
    font-size: 30px;
}

p
{
    font-family: 'navText';
    font-size: 20px;
}
