<section class="bg-general-islaonepiece" style="background: url(assets/img/fondo.jpg);">
  <h2>Practicing</h2>
  <div class="mt-5 mb-5">
    <h1>Profile for {{userName()}}</h1>
    <button [disabled]="isValidUserId()">Save Changes</button>

    <h1 class="mt-4">El contador actual es: {{ count3() }}</h1>
    <button (click)="increment()">Incrementar</button>
  </div>


<h1 class="text-center">ERROR 404</h1>
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <img style="width: 450px; height: 450px;" src="assets/img/luffy.gif" alt="">
        </div>
    </div>
<h1 class="text-center">LA PÁGINA NO EXISTE</h1>
</section>
